<%- include ('partials/header.ejs') %>

<% if (typeof error !== 'undefined') { %>
    <div class="error-message">
        <% if (error === 'Token manquant') { %>
            <p>Veuillez vous connecter pour accéder à cette page.</p>
            <a href="/login">Se connecter</a>
        <% } %>
        <% if (error === 'Accès refusé') { %>
            <p>Vous n'avez pas accès à cette page.</p>
        <% } %>
    </div>
<% } else { %>
    <div class="page-container">
        <h1>Liste des utilisateurs</h1>
        <div class="users-table-container">
            <table class="users-table">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Code postal</th>
                        <th>Ville</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Admin</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.firstname %></td>
                            <td><%= user.lastname %></td>
                            <td><%= user.address %></td>
                            <td><%= user.zipcode %></td>
                            <td><%= user.city %></td>
                            <td><%= user.email %></td>
                            <td><%= user.phone %></td>
                            <td><%= user.admin %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
<% }; %>

<%- include ('partials/footer.ejs') %>